<!-- <h2>Template-drive form</h2>
<form (ngSubmit)="submit1()" #myForm="ngForm">
  Nama:
  <input #nama="ngModel" required type="text" name="nama" [(ngModel)]="formModel.nama"><br />

  <p *ngIf="!nama.valid && nama.touched">Atribut nama harus diisi</p>

  Umur:
  <input #umur="ngModel" required type="text" name="umur" [(ngModel)]="formModel.umur"><br />

  <p *ngIf="!umur.valid">Atribut umur harus diisi</p>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>

<h2>Isian form Anda</h2>
Nama: {{nama.value}} <br />
nama valid: {{nama.valid}} <br />
nama touched: {{nama.touched}} <br />
nama pristine: {{nama.pristine}} <br />
nama dirty: {{nama.dirty}} <br />

<h3>Status form Anda</h3>
valid: {{myForm.valid}} -->

<body>
  <h1>Student Details</h1>

  <form (ngSubmit)="submit2()" [formGroup]="myReactiveForm">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nama:</label>
      <div class="col-sm-10">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Input nama" formControlName="nama" value="">
        </mat-form-field>
      </div>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="nama.errors?.required && nama.touched">
      Name is required
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="nama.errors?.minlength && nama.touched">
      Atribut nama harus minimal 5 karakter
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="nama.errors?.maxlength && nama.touched">
      Atribut nama harus maksimal 20 karakter
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="nama.errors?.pattern">
      Nama is invalid
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Faculty:</label>
      <div class="col-sm-10">
        <mat-form-field>
          <mat-label>Faculty</mat-label>
          <mat-select>
            <mat-option value="Teknik Informatika">TI</mat-option>
            <mat-option value="Ekonomi">Ekonomi</mat-option>
            <mat-option value="Seni Rupa">Seni Rupa</mat-option>
            <mat-option value="Mesin">Mesin</mat-option>
            <mat-option value="Komunikasi">Komunikasi</mat-option>
            <mat-option value="Hukum">Hukun</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <br />

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">NIM:</label>
      <div class="col-sm-10">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Input nim" formControlName="nim" value="">
        </mat-form-field>
        <div class="alert alert-warning" role="alert" *ngIf="nim.errors?.required && nim.touched">
          Nim is required
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="nim.errors?.pattern">
          Nim is invalid
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Entry Date:</label>
      <div class="col-sm-10">
        <mat-form-field>

          <input matInput [matDatepicker]="dp3" formControlName="entrydate" placeholder="Input Entry Date" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <div class="alert alert-warning" role="alert" *ngIf="entrydate.errors?.required && entrydate.touched">
          entry date is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Birth Date:</label>
      <div class="col-sm-10">
        <mat-form-field>

          <input matInput [matDatepicker]="dp4" formControlName="birthdate" placeholder="Input Birth Date" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
          <mat-datepicker #dp4 disabled="false"></mat-datepicker>
        </mat-form-field>
        <div class="alert alert-warning" role="alert" *ngIf="birthdate.errors?.required && birthdate.touched">
          Birth date is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Address:</label>
      <div class="col-sm-10">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address" formControlName="address" value="">
        </mat-form-field>
        <div class="alert alert-warning" role="alert" *ngIf="address.errors?.required && address.touched">
          Address is required
        </div>
      </div>
    </div>

    <div class="form-group row blue-border">
      <label class="col-sm-2 col-form-label">Notes:</label>
      <div class="col-sm-10">
        <textarea class="form-control" formControlName="notes" id="exampleFormControlTextarea3" rows="7"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone:</label>
      <div class="col-sm-10">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Phone number +62" value="Sushi" formControlName="phone">
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">

        <mat-form-field class="example-full-width">
          <input ng-model="email" matInput placeholder="Email" [formControl]="email" [errorStateMatcher]="matcher">
          <mat-hint>Enter email</mat-hint>
          <mat-error *ngIf="email.errors?.email">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.errors?.required && email.touched">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="check">
      <label class="form-check-label" for="exampleCheck1">Saya setuju dengan syarat dan ketentuan yang berlaku</label>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" [disabled]="myReactiveForm.invalid" />
  </form>
</body>